section
{
	width: 200px;
	padding: 50px 0;
	margin: 0 auto;
}

div
{
	width: 300px;
	height: 300px;
	float: left;
	border-radius:  50%;
}

.red
{
	background-color: red;
}

.green
{
	background-color: green;
}

.hidden
{
	display: none;
}